

/* Themes */
body#red   { background-color: #E6E1DD; } #red .head, #red .child     { border-color: #E6E1DD; }
body#green { background-color: #E1E6DD; } #green .head, #green .child { border-color: #E1E6DD; }
body#blue  { background-color: #DDE1E6; } #blue .head, #blue .child   { border-color: #DDE1E6; }

#red .rollover   { border-color: #CBBFBE; }
#green .rollover { border-color: #BECBCB; }
#blue .rollover  { border-color: #BEC2CB; }

.person { clear: none; padding-right: 15px; }
.person { /*float: left; / *display: block;*/ color: #333; text-decoration: none; font-weight: normal; }
.head, .child { font-weight: bold; /*clear: both;*/ margin: 4px 4px 4px 0px; padding: 0px 15px 6px 18px;  border: 2px solid; }
.head { background: url(css/exp.ico) no-repeat top left; padding-left: 18px; overflow: hidden; }
.child { background: url(css/blank.ico) no-repeat top left; padding-left: 18px; overflow: hidden; }
.rollover { border: 2px dotted; }
.collapsed { background: url(css/col.ico) no-repeat top left; padding-left: 18px; }

.M { color: #000066; } .F { color: #990000; }
.children { /*display: block;*/ clear: both; padding-left: 12px; }  
.spouse { /*float: left;*/ font-weight: bold; font-size: 95%; } /*clear: both; display: block; */ 
.alias, .location, .nb, .note { margin-left: 5px; font-size: 80%; font-weight: normal; } /* border-bottom: 1px #3F2655 dashed; underline; clear: right; */
.nb, .note { color: #4F4858; }

.location { display: block; clear: left; }
.location, .stats { color: #666633;  }
.stats { font-weight: normal; clear: both; }

/*  */
.info { cursor: hand; text-decoration: underline; }
#information { position: absolute; top:-100px; left: -100px; background-color: #B7C7DC; display: block; color: #333;
  padding: 8px; border: 2px #838C9B solid; font-size: 10pt; margin-right: 55px; margin-bottom: 35px; }
#information h3 { color: #662222; margin: 0px; } #information h6 { text-decoration: underline; margin: 8px 0px 4px 0px; }
#information s { display: block; width: 130px; float: left; text-decoration: none; } /* use to show the heading for fields */


a.close { float: left; background: url(css/close.png) no-repeat left top; height: 16px; width: 16px; display: block; margin: 4px 4px 0px 0px; }
a.close:hover   { background-image: url(css/hover_close.png); }
a.close:active  { background-image: url(css/selected_close.png); }

a.link { padding: 4px 8px 4px 8px; background-color: #99ccff; text-decoration: none; 
  color: #666; font-weight: 700; font-size: 9pt; letter-spacing: 1px; } a.link:hover { background-color: #66ff99; }

/* Container Divs */
body { font-family: Verdana, Arial, "MS Sans Serif"; cursor: default; overflow: scroll; overflow-x: hidden; margin: 0px;
  background: url(img/tree.gif) no-repeat fixed right bottom; text-align: center; }
body.no-tree { background-image: none; margin-bottom: 25px; }
#header { background-color: white; height: 80px; }
.family { /*height: 100%;*/ width: 480px; margin: 15px; }
#information, .family, #menu { text-align: left; }

/*  */
#themes, #options { color: #3D4F55; font-weight: bold; font-size: 10pt; text-align: left; border-top: 2px solid white;
  height: 80px; overflow: hidden; width: 150px; padding: 0px 10px 0px 10px; }
#themes a, #themes a:visited { color: #3D4F55; } #themes img { margin-right: 3px; border: none; } 
#themes { line-height: 13pt; float: left; border-right: 1px #B9C0C2 solid; }
#options { float: right; border-left: 1px #B9C0C2 solid; }
#options input { position: relative; top: 1px; /*margin-bottom: 6px;*/ margin: 0px; }
.stats { padding: 10px; }

#msg a { color: blue; font-weight: bold; }

